{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    
  </head>
  <body>
    {% block body %}

    <div class="form-signin text-center">
      {% comment %} {% for message in messages %}
          <li>{{message|as_crispy}}</li>
      {% endfor %} {% endcomment %}

      {% block content %}
      {% endblock %}
    </div>

    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>