{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'assets/logo.png' %}" alt="" width="100%">
    <h1 class="h3 mb-3 font-weight-normal">{% trans "Sign Up" %}</h1>
    {% for field in form %}
      {{ field|as_crispy_field }}
    {% endfor %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
  </form>

  <small class="text-muted">
    {% blocktrans %}Already got an account? <a href="{{ login_url }}">Sign In</a>{% endblocktrans %}
  </small>

  {% if socialaccount_providers %}
  <div class="socialaccount_ballot mt-2">
    {% for provider in socialaccount_providers %}
      <a title="{{ provider.name }}" class="socialaccount_provider sb sb-m-2 sb-{{ provider.id }}" href="{% provider_login_url provider.id process="login" %}">
        Sign in with {{ provider.id | title }}
      </a>
    {% endfor %}
  </div>
  {% endif %}

  <p class="mt-5 mb-3 text-muted">&copy; Activity League</p>

{% endblock %}
