{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'groups' %}">
    <span data-feather="grid"></span>
    Groups
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users' %}">
      <span data-feather="users"></span>
      Manage Users<span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'history' %}">
      <span data-feather="clock"></span>
      Task History
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'organisation' %}">
      <span data-feather="globe"></span>
    Organisation
    </a>
</li>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 {% if not groups %}border-bottom{% endif %}">
  <h1>Groups</h1>
</div>
<div class="table-responsive">
  {% if not groups %}
    <p class="lead">You aren't currently managing any groups. Create one now!</p>
  {% else %}
  <table class="table table-striped table-hover">
    <thead class="thead">
      <tr>
          <th>Name</th>
          <th>Participants</th>
          <th></th>
      </tr>
    </thead>
    <tbody id="table-body">
      {% for group in groups %}

      <tr onclick="document.location = '{% url 'manage-group' group.id %}';">
        <td class="align-middle">{{ group.name }}</td>
        <td class="align-middle">{{ group.num_participants }}</td>
        <td><button style="float: right" type="button" class="btn btn-outline-danger delete-group" data-group="{{ group.pk }}" aria-label="Delete">
          <span aria-hidden="true">Delete</span>
        </button></td>
      </tr>

        {% endfor %}
    </tbody>
    {% endif %}
  </table>

  <button type="button" class="btn btn-primary js-new-group">
    <span class="glyphicon glyphicon-plus"></span>
    New Group...
  </button>

  <div>
    <div class="modal fade" id="modal-new-group">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="btn-group pt-3 mb-4" role="group" id="button-container">
</div>

{% endblock %}

{% block scripts %}
<script>

// Script for modal popup
  $(function () {
    $(".js-new-group").click(function () {
      $.ajax({
        url: '/new-group/',
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-new-group").modal('show');
        },
        success: function (data) {
          $("#modal-new-group .modal-content").html(data.html_form);
        }
      });
    });
    $("#modal-new-group").on("submit", ".js-new-group-form", function () {
      var form = $(this);
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();
      $.ajax({
        headers: { "X-CSRFToken": csrftoken },
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {
            $("#modal-new-group").modal("hide");
            alert("Group created!");
          }
          else {
            $("#modal-book .modal-content").html(data.html_form);
          }
          window.location.reload();
        }
      });
      return false;
    });
  });

$(".delete-group").click(function () {
      if (confirm('Are you sure you want to delete this group?')) {
        var btn = $(this);
        var group = btn.data('group');
        var form = $('<form method="post">');
        form.append('{% csrf_token %}');
        form.append('<input name="group" value="' + group + '" />');
        form.append('<input name="request_type" value="delete_group" />');
        $('body').append(form);
        form.submit();
      }
      else {
        return false;
      }
      if (event.stopPropagation) event.stopPropagation(); else event.cancelBubble = true;
    });
</script>
{% endblock %}
