{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}" style="color: #aaaaaa;">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}" style="color: #aaaaaa;">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}" style="color: #aaaaaa;">
    <span data-feather="grid"></span>
    Groups
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users' %}" style="color: #aaaaaa;">
      <span data-feather="users"></span>
      Manage Users<span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'history' %}" style="color: #aaaaaa;">
      <span data-feather="clock"></span>
      Task History
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'organisation' %}" style="color: #aaaaaa;">
      <span data-feather="globe"></span>
    Organisation
    </a>
</li>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>{{ respondent }}</h1>
</div>
<div class="row justify-content-center" align="center">
  {% if negative_word_cloud %}
  <div class="col-xl-3 col-md-6">
    <figure class="col" id="negative-word-cloud">
    <figcaption>{{respondent}}'s word cloud for negative questions</figcaption></figure>
  </div>
  {% endif %}

  {% if neutral_word_cloud %}
  <div class="col-xl-3 col-md-6">
    <figure class="col" id="neutral-word-cloud">
    <figcaption>{{respondent}}'s word cloud for neutral questions</figcaption></figure>
  </div>
  {% endif %}

  {% if positive_word_cloud %}
  <div class="col-xl-3 col-md-6">
    <figure class="col" id="positive-word-cloud">
    <figcaption>{{respondent}}'s word cloud for positive questions</figcaption></figure>
  </div>
  {% endif %}
</div>

<div class="btn-toolbar pt-3 mb-4" role="group" id="button-container">
  {% for graph in graphs %}
    <button class="btn btn-light mr-2 mb-2 rounded" onclick="render({{ graph|safe }}, this)">{{ graph.title }}</button>
  {% endfor %}
</div>
<div id="datepicker-container" class="float-right" style="padding-right:15px">
  <input type="text" id="datepicker" class="form-control">
</div>
<div class="container-fluid row rounded" style="margin:0px;height:45vh" id="grey-container">
  <canvas id="graph-container"></canvas>
</div>

{% if tasks %}
  <div class="table-responsive mb-5">
    <table class="table table-striped table-hover" id="table" data-toggle="table" data-search="true" data-search-align="left">
      <thead>
        <tr>
          <th data-sortable="true" data-field="task_name">Task Name</th>
          <th data-sortable="true" data-field="group">Group</th>
          <th data-sortable="true" data-field="due_date" data-sorter="dateSorter">Due Date</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr id="{{ task.id }}">
            <td class="align-middle">{{ task.title }}</td>
            <td class="align-middle">{{ task.group }}</td>
            <td class="align-middle">
                {{ task.due_date|date:"d M Y" }}
                <small class="text-muted d-block">{{ task.due_time|time:"H:i" }}</small>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="lead">You have not set any tasks yet!</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src={% static 'js/datesorter.js' %}></script>
<script src={% static 'js/surveyor/user-progress.js' %}></script>


<script type="text/javascript">
$('#table').bootstrapTable({
  onClickRow: function (row, $element, field) {
    var a = row['_id'];
    document.location = "{% url 'user_response' respondent.id 1234 %}".replace(/1234/, a.toString());
  }
})

function isMobileDevice(){
    return ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
}
</script>

<script type="text/javascript">
{% if neutral_word_cloud %}
  var ctx = document.getElementById("neutral-word-cloud");
  word_cloud(ctx, "{{ neutral_word_cloud }}")
{% endif %}

{% if positive_word_cloud %}
  var ctx = document.getElementById("positive-word-cloud");
  word_cloud(ctx, "{{ positive_word_cloud }}")
{% endif %}

{% if negative_word_cloud %}
  var ctx = document.getElementById("negative-word-cloud");
  word_cloud(ctx, "{{ negative_word_cloud }}")
{% endif %}

$(function () {
  select_button(document.getElementById("button-container").children[0]);
  render_graph({{ graphs.0 | safe }});
});
</script>


{% endblock %}