{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">
    <span data-feather="grid"></span>
    Groups
  </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{% url 'users' %}">
      <span data-feather="users"></span>
      Manage Users<span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'history' %}">
      <span data-feather="clock"></span>
      Task History
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'organisation' %}">
      <span data-feather="globe"></span>
    Organisation<span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Manage Users</h1>
</div>
<p>
  This page shows you all of the users you manage. 
  You can sort by any of the columns on the table below by 
  clicking on the table headers and access any task by clicking 
  into it or search for a user by entering a property of them
  inside the search box.
</p>

{% if respondents %}
  <div class="table-responsive mb-4">
    <table class="table table-striped table-hover" id="table" data-toggle="table" data-search="true" data-search-align="left">
      <thead>
        <tr>
          <th data-sortable="true" data-field="firstname">First Name</th>
          <th data-sortable="true" data-field="surname">Surname</th>
          <th data-field="groups">Groups</th>
        </tr>
      </thead>
      <tbody>
        {% for respondent in respondents %}
          <tr id="{{ respondent.id }}">
            <td class="align-middle">{{ respondent.firstname }}</td>
            <td class="align-middle">{{ respondent.surname }}</td>
            <td class="align-middle">
            {% for group in respondent.groups %}
              <a class="badge badge-{{ group.color }}" href="{% url 'manage-group' group.id %}">{{ group.name }}</a>
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="lead">You don't manage any groups which have users!</p>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
$('#table').bootstrapTable({
  onClickRow: function (row, $element, field) {
    var a = row['_id'];
    document.location = "{% url 'user_progress' 1234 %}".replace(/1234/, a.toString());
  }
})
</script>

{% endblock %}
