{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">
    <span data-feather="grid"></span>
    Groups
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users' %}">
      <span data-feather="users"></span>
      Manage Users<span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'history' %}">
      <span data-feather="clock"></span>
      Task History
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'organisation' %}">
      <span data-feather="globe"></span>
    Organisation
    </a>
</li>
{% endblock %}


{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ respondent }}: {{ task }}</h1>
</div>

<form id="response_form" name="response_form">
<fieldset disabled="disabled">

  {% for question in questions %}

  {# Text Response (any) #}
  {% if question.is_text %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}"><i>{{ question.link }}</i></a>{% if question.response.link_clicked %}<span data-toggle="tooltip" data-placement="right" title="This link was clicked."> ✅</span>{% else %}<span data-toggle="tooltip" data-placement="right" title="This link was not clicked."> ❌</span>{% endif %}
              {% endif %}
              <input type="text" class="form-control" name="{{ question.id }}" placeholder="{{ question.response.text }}" value="" required>
          </label>
        </div>
      </div>

  {# Likert Resposnse #}
  {% elif question.is_likert %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}"><i>{{ question.link }}</i></a>{% if question.response.link_clicked %}<span data-toggle="tooltip" data-placement="right" title="This link was clicked."> ✅</span>{% else %}<span data-toggle="tooltip" data-placement="right" title="This link was not clicked."> ❌</span>{% endif %}
              {% endif %}
          </label>
        </div>
        <ul class='radio-set'>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="1" required {% if question.response.value == 1 %} checked="checked" {% endif %}>
                  Strongly disagree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="2" {% if question.response.value == 2 %} checked="checked" {% endif %}>
                  Disagree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="3" {% if question.response.value == 3 %} checked="checked" {% endif %}>
                  Neutral
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="4" {% if question.response.value == 4 %} checked="checked" {% endif %}>
                  Agree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="5" {% if question.response.value == 5 %} checked="checked" {% endif %}>
                  Strongly agree
              </label>
          </li>
        </ul>
      </div>

  {# Traffic Light Resposnse #}
  {% elif question.is_traffic_light %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}"><i>{{ question.link }}</i></a>{% if question.response.link_clicked %}<span data-toggle="tooltip" data-placement="right" title="This link was clicked."> ✅</span>{% else %}<span data-toggle="tooltip" data-placement="right" title="This link was not clicked."> ❌</span>{% endif %}
              {% endif %}
          </label>
        </div>
      </div>

    <div class="text-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" required>
        <label class="btn {% if question.response.value == question.traffic_light_sad_value %} btn-danger active {% else %} btn-outline-danger {% endif %}">
          <input type="radio" disabled='disabled' name="{{ question.id }}" value="{{ question.traffic_light_sad_value }}" required {% if question.response.value == question.traffic_light_sad_value %} checked="checked" {% endif %}> <i data-feather="frown" style="width: 36px; height 36px"></i>
        </label>
        <label class="btn {% if question.response.value == question.traffic_light_neutral_value %} btn-warning active {% else %} btn-outline-warning {% endif %}">
          <input type="radio" disabled='disabled' name="{{ question.id }}" value="{{ question.traffic_light_neutral_value }}" {% if question.response.value == question.traffic_light_neutral_value %} checked="checked" {% endif %}> <i data-feather="meh" style="width: 36px; height 36px"></i>
        </label>
        <label class="btn {% if question.response.value == question.traffic_light_happy_value %} btn-success active {% else %} btn-outline-success {% endif %}">
          <input type="radio" disabled='disabled' name="{{ question.id }}" value="{{ question.traffic_light_happy_value }}" {% if question.response.value == question.traffic_light_happy_value %} checked="checked" {% endif %}> <i data-feather="smile" style="width: 36px; height 36px"></i>
        </label>
      </div>
    </div>
  
  {# Numerical Radio Button Response #}
  {% elif question.is_numerical %}

    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="response{{ question.id }}">{{ question.description }}
            {% if question.link %}
                <br><a class="text-primary" href="//{{ question.link }}"><i>{{ question.link }}</i></a>{% if question.response.link_clicked %}<span data-toggle="tooltip" data-placement="right" title="This link was clicked."> ✅</span>{% else %}<span data-toggle="tooltip" data-placement="right" title="This link was not clicked."> ❌</span>{% endif %}
            {% endif %}
        </label>
      </div>
      <ul class='radio-set'>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="1" required {% if question.response.value == 1 %} checked="checked" {% endif %}>
                1
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="2" {% if question.response.value == 2 %} checked="checked" {% endif %}>
                2
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="3" {% if question.response.value == 4 %} checked="checked" {% endif %}>
                3
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="4" {% if question.response.value == 3 %} checked="checked" {% endif %}>
                4
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="5" {% if question.response.value == 5 %} checked="checked" {% endif %}>
                5
            </label>
        </li>
      </ul>
    </div>

  {% else %}
    <p class="lead">Invalid response type detected!</p>
  {% endif %}

  <hr class="mb-4">

  {% endfor %}
  </fieldset>
</form>

{% endblock %}