{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item" onclick="document.location = '../interviewee@1';">
  <a class="nav-link" href="#">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="bar-chart-2"></span>
    Leaderboard <span class="sr-only">(current)</span>
  </a>
</li>
{% endblock %}

{% block content %}
<h2>All Tasks</h2>
<div> {# class="container" #}
<table class="table table-striped table-hover">
    <thead class="thead">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
        {% for iv in interviewees %}
        <tr>
        <td>{{ forloop.counter }}</button></td>
        <td class="align-middle">{{iv}}</td>
        <td class="align-middle">100<td>
        </tr>
        {% endfor %}


        {% comment %} <tr>
        <td>2</button></td>
        <td class="align-middle">Dean Mohamedally</td>
        <td class="align-middle">89<td>
        </tr> {% endcomment %}
        
        {% comment %} <tr>
        <td>3</button></td>
        <td class="align-middle">Graham Roberts</td>
        <td class="align-middle">88<td>
        </tr> {% endcomment %}
    </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}