<form method="post" class="js-add-user-form" id="post-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add a new participant to this group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-9">
                <label for="name">{{ form.respondent.label }}</label>
                {{ form.respondent }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="add_participant">Add participant</button>
    </div>
</form>

<script>
    // $('#post-form').on('submit', function(event){
    //     event.preventDefault();
    //     console.log("form submitted!")  // sanity check
    //     create_post();
    // }); 

    // function create_post() {
    //     console.log("create post is working!");
    //     console.log($('#post-text').val())
    //     console.log('RESPONDENT: ' + $('#post-respondent').val()) // sanity check
    //     $.ajax({
    //         url : "/add_user", // the endpoint
    //         type : "POST", // http method
    //         data : { the_post : $('#post-text').val(),
    //                  the_respondent : $('$post-respondent').val() }, // data sent with the post request

    //         // handle a successful response
    //         success : function(json) {
    //             $('#post-text').val(''); // remove the value from the input
    //             console.log(json); // log the returned json to the console
    //             console.log("success"); // another sanity check
    //         },

    //         // handle a non-successful response
    //         error : function(xhr,errmsg,err) {
    //             $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
    //                 " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
    //             console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    //         }
    //     });
    // };
</script>