{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Activity League - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Activity League</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              User Name<span data-feather="user"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" onclick="document.location = '../Interviewee';">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" onclick="document.location = '../Interviewee/leaderboard';">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Leaderboard
                </a>
              </li>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="MainSection">
          <h2>Complete fractions worksheet: Feedback</h2>
          <!-- Link back to task links -->
          <li onclick="document.location = '../Interviewee';">Back to Task List</li>
          <table class="table">
            <tbody>
                <tr>
                    <div class="Question">
                        <td class="align-middle">
                            This should be above
                            <small class="text-muted d-block">This should be below</small>
                          <slidecontainer>
                              <input type="range" min="1" max="10" value="5" class="custom-range">
                          </slidecontainer>
                      </td>
                    </div>
                </tr>
                <tr>
                    <div class="Question">
                        <td class="align-middle">
                            Second question
                            <small class="text-muted d-block">Second question small</small>
                          <slidecontainer>
                              <input type="range" min="1" max="10" value="5" class="custom-range">
                          </slidecontainer>
                      </td>
                    </div>
                </tr>
                <tr>
                  <div class="Question">
                      <td class="align-middle">
                          Third question
                          <small class="text-muted d-block">Third question small</small>
                        <slidecontainer>
                            <input type="range" min="1" max="10" value="5" class="custom-range">
                        </slidecontainer>
                    </td>
                  </div>
              </tr>
              <tr>
                <div class="Question">
                    <td class="align-middle">
                        Fourth question
                        <small class="text-muted d-block">Fourth question small</small>
                      <slidecontainer>
                          <input type="range" min="1" max="10" value="5" class="custom-range">
                      </slidecontainer>
                  </td>
                </div>
            </tr>
            <tr>
              <div class="Question">
                  <td class="align-middle">
                      Fifth question
                      <small class="text-muted d-block">Fifth question small</small>
                    <slidecontainer>
                        <input type="range" min="1" max="10" value="5" class="custom-range">
                    </slidecontainer>
                </td>
              </div>
          </tr>
            </tbody>
          </table>          
          <!-- Individual words area -->
          <div class="row">
            <div class="col" id="positive-questions">
              <h3>Enter 5 words describing things making your task easier.</h3>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
            </div>
            <div class="col" id="negative-questions">
              <h3>Enter 5 words describing something making your task harder.</h3>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="goodResponse1"></label>
                <textarea class="form-control" id="goodRepsonse1" rows="1"></textarea>
              </div>
            </div>
          </div>
        

          <div class="container-fluid page-container">
          How did this task affect your understanding of the topic?
              <!-- divide main content into three sections left, middle, right -->
              <!-- top section container -->
              <div class="row top-container">
                  <!-- top section -->
                  <div class="col-sm-12">

                  </div>
              </div>

              <div class="row">
                  <!-- right side -->
                  <div class="col-sm-1">
                      <div class="middle-container">
                          <div class="middle-top"><center>
                              <button class="btn btn-default" type="button">I know more than I did before</button></center>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-8">
                      <!-- MIDDLE CONTAINER (horizontal)  -->
                      <div class="middle-container">
                          <div class="middle-top"><center>
                              <button class="btn btn-default" type="button">I know the same as I did before</button></center>
                          </div>
                      </div>
                  </div>

                  <!-- RIGHT CONTAINER (vertical)     -->
                  <div class="col-sm-1">
                      <div class="middle-container">
                          <div class="middle-top"><center>
                              <button class="btn btn-default" type="button">I know more than I did before</button></center>
                          </div>
                      </div>
                  </div>

                  </div>

              </div>
          </div>
          
          {% comment %} Choose from three options {% endcomment %}
          {% comment %} <div class="btn-group card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">I know less than I did before<h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li></li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">I know the same amount as I did before</h1>
              <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">I know more than I did before</h1>
              <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
          </div>
        </div>
        </div>
        </main>
      </div>
    </div> {% endcomment %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>