{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard 
  </a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item" >
    <a class="nav-link active" href="{% url 'respondent_progress' %}">
      <span data-feather="bar-chart-2"></span>
      Progress <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %} 
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Progress <span data-toggle="tooltip" data-placement="right" title="Your score is a simple average of all your quantifiable responses. Responses to Likert Scales are given a value 1-5, and Traffic Lights a value between 1-3."><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"></path></svg></span></h1>
</div>

<div>
  <div class="col" id="graph-container">
  </div>
  <!-- <div style="margin: 100px; border-radius: 25px;" class="row bg-light">
    
  </div> -->
</div>
{% endblock %}

{% block scripts %}
<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  function render_graph(parent, title, labels, values) {
    var wrapper = document.createElement('div');
    wrapper.classList.add('row');
    wrapper.classList.add('bg-light');

    // THIS IS TEMPORARY STYLE INJECTION
    wrapper.style.margin = "20px";
    wrapper.style.borderRadius = "20px";

    var element = document.createElement('canvas');
    element.width = 900;
    element.height = 380;

    wrapper.appendChild(element);
    parent.appendChild(wrapper);

    new Chart(element, {
      type: 'line',
      data: {
        labels: labels,
        datasets: values
      },
      options: {
        title: {
          display: true,
          text: title
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Score'
            },
            ticks: {
              min: 0,
              max: 5
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Time'
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  }

  function load_and_render_graphs() {
    $.get('/get_progress_json', function(graphData) {
      var parent = document.getElementById("graph-container");

      if (Array.isArray(graphData['groups']) && graphData['groups'].length == 0) {

        var parent_parent = parent.parentNode;
        parent.remove();

        // Add description
        var msg = document.createElement('p');
        msg.classList.add('lead');
        msg.textContent = 'There is no progress to show as you have no responses!';
        parent_parent.appendChild(msg);
        
        return;
      }

      var overall = graphData['overall'];
      var overall_labels = graphData['overall_labels']
      render_graph(parent, 'Overall Progress', overall_labels, overall)

      var groups = graphData['groups'];

      for (var i = 0; i < groups.length; i++) {
        var group = groups[i];

        render_graph(parent, group['title'], group['labels'], group['scores']);
      }
    })
  }

  $(function () {
    load_and_render_graphs();
  });
</script>
{% endblock %}

