{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'leaderboard' %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">
    <span data-feather="bar-chart-2"></span>
    Groups <span class="sr-only">(current)</span>
  </a>
</li>
{% endblock %}

{% block content %}
<h2>Leaderboard</h2>
<div class="btn-group pt-3 mb-4" role="group" id="button-container">
</div>
<div> {# class="container" #}
  <table class="table table-striped table-hover" id="leaderboard">
      <thead class="thead">
      <tr>
          <th>Rank</th>
          <th>Name</th>
          <th><span style="border-bottom: 1px dotted black;" data-toggle="tooltip" data-placement="right" title="This is a simple average of all quantifiable responses. Responses to Likert Scales are given a value 1-5, and Traffic Lights a value between 1-3.">Score</span></th>
      </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>
  function select_button (target_button) {
    // Deactivate all other buttons
    var parent = document.getElementById('button-container');
    var buttons = parent.children;
    for (var i = 0; i < buttons.length; i++) {
      var button = buttons[i];
      if (button.classList.contains('btn-primary')) button.classList.remove('btn-primary');
    }

    // Activate new button
    target_button.classList.add('btn-primary');
  }

  function add_button (parent, name, group_key, selected=false) {
    var button_wrapper = document.createElement('button');
    button_wrapper.classList.add('btn');
    button_wrapper.classList.add('mr-2');
    button_wrapper.classList.add('rounded');
    button_wrapper.textContent = name;
    button_wrapper.setAttribute("id", group_key);
    button_wrapper.onclick = function() {
      clear_leaderboard();
      select_button(this);
      var params = get_params();
      render_leaderboard(params);
    };

    if (selected) select_button(button_wrapper);
    
    parent.appendChild(button_wrapper);
  }

  function render_buttons () {
    $.get('/get_leaderboard_groups_json', function (buttonData) {
      var parent = document.getElementById('button-container');

      if (Array.isArray(buttonData['buttons']) && buttonData['buttons'].length == 0) {
        var msg = document.createElement('p');
        msg.classList.add('lead');
        msg.textContent = 'There is no leaderboard as you aren\'t in any groups yet!';
        parent.appendChild(msg);
        return; 
      }

      add_button(parent, 'Overall', "0", selected=true);

      var buttons = buttonData['buttons'];
      for (var i = 0; i < buttons.length; i++) {
        var button =  buttons[i];
        add_button(parent, button['name'], button['group_key']);
      }
    })
  }

  function remove_leaderboard () {
    var elem = document.getElementById('leaderboard');
    elem.remove();
  }

  function add_row (parent, rank, name, score) {
    var row_wrapper = document.createElement('tr');

    var name_wrapper = document.createElement('td');
    var score_wrapper = document.createElement('td');
    var rank_wrapper = document.createElement('td');

    rank_wrapper.textContent = rank;
    name_wrapper.textContent = name;
    score_wrapper.textContent = score;

    var new_elements = [];
    new_elements.push(rank_wrapper, name_wrapper, score_wrapper);
    
    for (var i = 0; i < new_elements.length; i++) {
      row_wrapper.appendChild(new_elements[i]);
    }
    parent.appendChild(row_wrapper);
  }

  function clear_leaderboard () {
    var parent = document.getElementById('table-body');
    while (parent.firstChild) parent.removeChild(parent.lastChild);
  } 

  function render_leaderboard (params) {
    var endpoint = '/get_leaderboard_json?' + params;
    $.get(endpoint, function (leaderboardData) {
      var parent = document.getElementById('table-body');

      if (Array.isArray(leaderboardData['rows']) && leaderboardData['rows'].length == 0) {
        remove_leaderboard();
        return; 
      }

      var rows = leaderboardData['rows'];
      for (var i=0; i < rows.length; i++) {
        var row = rows[i];
        add_row(parent, i + 1, row['name'], row['score']);
      }
    });
  }

  /**
   * Gets the id associated with the button which is currently selected - this is
   * the primary key of the group object which we want to query.
   */
  function get_params () {
    var parent = document.getElementById('button-container');

    var buttons = parent.children;
    for (var i = 0; i < buttons.length; i++) {
      var button = buttons[i];
      if (button.classList.contains('btn-primary')) {
        if (button.getAttribute("id").localeCompare("0") !== 0) {
          return 'group=' + button.getAttribute("id");
        } else return;
      }
    }
  }

  $(function () {
    render_buttons();
    render_leaderboard();
  });

</script>
{% endblock %}