{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
    <a class="nav-link active" href="#">
        <span data-feather="home"></span>
        Dashboard <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'surveyor_leaderboard' user.pk %}">
        <span data-feather="bar-chart-2"></span>
        Leaderboard
    </a>
</li>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Create New Task</h1>
    <div>
        <button class="btn btn-primary" href="{% url 'surveyor_dashboard' user.pk %}" for="question1">Cancel</button>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-7 mb-2">
            <label for="title">{{ taskform.title.label }}</label>
            {{ taskform.title }}
        </div>
        <div class="col-md-5 mb-2">
            <label>{{ taskform.group.label }}</label>
            {{ taskform.group }}
        </div>
    </div>

    <hr class="mb-4">
    <h4 class="mb-3">Content</h4>

    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row" id="form_set">
        <div class="col-md-6 mb-3">
            <label for="question1">{{ form.description.label }}</label>
            {{ form.description }}
        </div>

        <div class="col-md-4 mb-3">
            <label for="url">{{ form.link.label }}<span class="text-muted"> (Optional)</span></label>
            {{form.link}}
        </div>

        <div class="col-md-2 mb-3">
            <label for="responseType">{{ form.response_type.label }}</label>
            {{ form.response_type }}
        </div>
    </div>
    {% endfor %}

    <input type="button" class="btn btn-success" value="Add More" id="add_more">

    <div id="empty_form" style="display:none">
        <div class="col-md-6 mb-3">
            <label for="question1">{{ formset.empty_form.description.label }}</label>
            {{ formset.empty_form.description }}
        </div>

        <div class="col-md-4 mb-3">
            <label for="url">{{ formset.empty_form.link.label }}<span class="text-muted"> (Optional)</span></label>
            {{formset.empty_form.link}}
        </div>

        <div class="col-md-2 mb-3">
            <label for="responseType">{{ formset.empty_form.response_type.label }}</label>
            {{ formset.empty_form.response_type }}
        </div>
    </div>

    <hr class="mb-4">

    <h4 class="mb-3">Due</h4>

    <div class="row">
        <div class="col-md-3 mb-2">
            <label for="date">{{ taskform.due_date.label }}</label>
            {{ taskform.due_date }}
        </div>
        <div class="col-md-3 mb-2">
            <label for="time">{{ taskform.due_time.label }}</label>
            {{ taskform.due_time }}
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
</form>
<div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#add_more').click(function () {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>

{% endblock %}