{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="home"></span>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'surveyor_leaderboard' %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard
  </a>
</li>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="overflow-auto">
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Set Task</th>
        <th>Group</th>
        <th>Students</th>
        <th>Responses</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody id=table-body>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" onclick="document.location = '{% url 'new_task' %}';">New Task...</button>
    
  <button type="button" class="btn btn-primary js-new-group">
    <span class="glyphicon glyphicon-plus"></span>
    New Group...
  </button>
</div>
<!-- Whitespace -->
<div>
    <div class="modal fade" id="modal-new-group">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>

  </div>
  <!-- Whitespace -->
  <div>

  </div>
</div>
<div class="mt-5" id="graph-container">
</div>
{% endblock %}

{% block scripts %}
<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  function render_graph_and_leaderboard(parent, graph_title, graph_labels, graph_data, leaderboard) {
    var rowWrapper = document.createElement('div');
    rowWrapper.classList.add('row', 'bg-light');
    // THIS IS TEMPORARY STYLE INJECTION
    rowWrapper.style.margin = "20px";
    rowWrapper.style.borderRadius = "20px";

    var graphWrapper = document.createElement('div');
    graphWrapper.classList.add('col');

    var tableWrapper = document.createElement('div');
    tableWrapper.classList.add('col');

    var graph = document.createElement('canvas');

    var table = document.createElement('table');
    table.classList.add('col', 'table', 'table-striped');

    var tableHeading = document.createElement('thead');

    var rankingHeading = document.createElement('th');
    rankingHeading.textContent = "Ranking";
    tableHeading.appendChild(rankingHeading);

    var nameHeading = document.createElement('th');
    nameHeading.textContent = "Name";
    tableHeading.appendChild(nameHeading);

    var scoreHeading = document.createElement('th');
    scoreHeading.textContent = "Score";
    tableHeading.appendChild(scoreHeading);

    table.appendChild(tableHeading);

    var tableBody = document.createElement('tbody');

    for (var i = 0; i < leaderboard.length; i++) {
      var row = leaderboard[i]
      add_leaderboard_row(tableBody, [i + 1, row['name'], row['score']])
    }

    table.appendChild(tableBody);

    graphWrapper.appendChild(graph);
    tableWrapper.appendChild(table);

    rowWrapper.appendChild(graphWrapper);
    rowWrapper.appendChild(tableWrapper);
    parent.appendChild(rowWrapper);

    new Chart(graph, {
      type: 'line',
      data: {
        labels: graph_labels,
        datasets: [{
          data: graph_data,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        title: {
          display: true,
          text: graph_title
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Score'
            },
            ticks: {
              min: 0,
              max: 5
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Time'
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  }

  function load_and_render_graphs_and_leaderboards() {
    $.get('/surveyor/get_graphs_and_leaderboards_json', function(graphAndLeaderboardData) {
      var parent = document.getElementById("graph-container");

      var graphs = graphAndLeaderboardData['graphs'];
      var leaderboards = graphAndLeaderboardData['leaderboards'];

      for (var i = 0; i < graphs.length; i++) {
        var graph = graphs[i];
        var leaderboard = leaderboards[i];
        render_graph_and_leaderboard(parent, graph['title'], graph['labels'], graph['scores'], leaderboard);
      }
    })
  }

  $(function () {
    load_and_render_graphs_and_leaderboards();
  });

  function render_table() {
    $.get('/surveyor/get_tasks_json', function (tableData) {
      var parent = document.getElementById('table-body');
      var rows = tableData['rows'];
      for (var i=0; i < rows.length; i++) {
        var row = rows[i];
        add_task_row(parent, row['pk'], [row['title'], row['group_name'], row['num_respondents'], row['num_responses'], row['due_date']]);
      }
    })
  }

  function add_leaderboard_row(parent, row_elements) {
    var row_wrapper = document.createElement('tr');
    for (var i = 0; i < row_elements.length; i++) {
      var cell = document.createElement('td');
      cell.textContent = row_elements[i]
      row_wrapper.appendChild(cell);
    }
    parent.appendChild(row_wrapper);
  }

  function add_task_row(parent, task_pk, row_elements) {
    var row_wrapper = document.createElement('tr');
    for (var i = 0; i < row_elements.length; i++) {
      var cell = document.createElement('td');
      cell.textContent = row_elements[i]
      row_wrapper.appendChild(cell);
      row_wrapper.onclick = function(){document.location = "{% url 'task_overview' 000 %}".replace(000, task_pk.toString());}
    }
    parent.appendChild(row_wrapper);
  }

  $(function () { 
    render_table();
  });

<!-- Script for modal popup -->
  $(function () {
    $(".js-new-group").click(function () {
      $.ajax({
        url: '/surveyor/new_group/',
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-new-group").modal('show');
        },
        success: function (data) {
          $("#modal-new-group .modal-content").html(data.html_form);
        }
      });
    });

    $("#modal-new-group").on("submit", ".js-new-group-form", function () {
      var form = $(this);
      $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {
            $("#modal-new-group").modal("hide");
            alert("Group created!");
          }
          else {
            $("#modal-book .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    });
  });
</script>
{% endblock %}