{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="home"></span>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'surveyor_leaderboard' user.pk %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard
  </a>
</li>
{% endblock %} 
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="overflow-auto">
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Set Task</th>
        <th>Group</th>
        <th>Students</th>
        <th>Responses</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody id=table-body>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" onclick="document.location = '{% url 'new_task' user.pk %}';">Create New...</button>
</div>
<!-- Whitespace -->
<div>

</div>
</div>
<div>
  <div style="margin: 100px; border-radius: 25px;" class="row bg-light">
    <div class="col">
      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
    </div>
    <div style="margin: 50px;" class="col">
      <table class="table table-striped"
data-toggle="table"
data-url="data1.json"
data-pagination="true"
data-search="true">
        <thead>
          <tr>
            <th>Student</th>
            <th>Ranking</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Joseph Connor 👑</td>
            <td>1</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Dean Mohammedally</td>
            <td>2</td>
            <td>9</td>
          </tr>
          <tr>
            <td>Boris Johnson</td>
            <td>3</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Diane Abbott</td>
            <td>4</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var pk = {{ pk }};

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  function render_table() {
    $.get('/surveyor@' + pk + '/get_tasks_json', function (tableData) {
      var parent = document.getElementById('table-body');
      var rows = tableData['rows'];
      for (var i=0; i < rows.length; i++) {
        var row = rows[i];
        add_row(parent, row['title'], row['group_name'], row['num_respondents'], row['num_responses'], row['due_date']);
      }
    })
  }

  function add_row(parent, task_title, group_name, num_respondents, num_responses, due_date) {
    var row_wrapper = document.createElement('tr');

    var title_wrapper = document.createElement('td');
    title_wrapper.textContent = task_title;
    var group_wrapper = document.createElement('td');
    group_wrapper.textContent = group_name;
    var num_respondents_wrapper = document.createElement('td');
    num_respondents_wrapper.textContent = num_respondents;
    var num_responses_wrapper = document.createElement('td');
    num_responses_wrapper.textContent = num_responses;
    var due_date_wrapper = document.createElement('td');
    due_date_wrapper.textContent = due_date;

    var new_elements = [];
    new_elements.push(title_wrapper, group_wrapper, num_respondents_wrapper, num_responses_wrapper, due_date_wrapper);

    for (var i = 0; i < new_elements.length; i++) {
      row_wrapper.appendChild(new_elements[i]);
    }
    parent.appendChild(row_wrapper);
  }

  $(function () { 
    render_table();
  });


</script>
{% endblock %}