{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="home"></span>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard
  </a>
</li>
{% endblock %}
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Task Overview: {{task_title}}</h1>
</div>

<!-- Info Cards -->
<div class="card-deck justify-content-center m-5 rounded">
  <div class="col-auto">
    <div class="card text-center border-primary ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Total Students</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_total_students}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card text-center border-primary ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Students Completed</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_students_completed}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card text-center border-primary ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Due Date</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_due_date}}</b></p>
      </div>
    </div>
  </div>
</div>

<!-- Responses Section -->
<div class="text-center align-middle border mr-5 ml-5 rounded bg-light" id="responses-container">
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    var task_pk = '{{ task_pk }}';

    function add_question(parent, description) {
      columnWrapper = document.createElement('div');
      columnWrapper.classList.add('col');
      columnWrapper.textContent = description;
      parent.appendChild(columnWrapper);
    }

    function add_link_clicks(parent, link_clicks) {
      columnWrapper = document.createElement('div');
      columnWrapper.classList.add('col');

      card = document.createElement('div');
      card.classList.add('card', 'border-primary', 'm-2');

      cardBody = document.createElement('div');
      cardBody.classList.add('card-body');

      cardTitle = document.createElement('h5');
      cardTitle.classList.add('card-title');
      cardTitle.textContent = link_clicks;

      cardBody.appendChild(cardTitle);
      card.appendChild(cardBody);
      columnWrapper.appendChild(card);
      parent.appendChild(columnWrapper);
    }

    function add_pie_chart(parent, labels, data) {
      columnWrapper = document.createElement('div');
      columnWrapper.classList.add('col');

      var pieChart = document.createElement('canvas');

      new Chart (pieChart, {
        type: 'pie',
        data: {
          datasets: [{
            data: data,
            backgroundColor: [
              'red', 'blue', 'pink', 'orange', 'green'
            ]
          }],
          labels: labels
        },
        options: {
          responsive: false
        }
      });

      columnWrapper.appendChild(pieChart);
      parent.appendChild(columnWrapper);
    }

    function add_word_cloud(parent, word_cloud) {
      columnWrapper = document.createElement('div');
      columnWrapper.classList.add('col');
      img = document.createElement('img');
      img.src = word_cloud;
      img.style.width = "100%";
      img.style.height = "auto";
      columnWrapper.appendChild(img);
      parent.appendChild(columnWrapper);
    }

    function render_responses() {
      $.get('/task/' + task_pk + '/get_questions_json', function (tableData) {
        var parent = document.getElementById('responses-container');
        var rows = tableData['rows'];
        for (var i=0; i < rows.length; i++) {
          var question = rows[i];
          var rowWrapper = document.createElement('div');
          rowWrapper.classList.add('row', 'border-bottom');
          add_question(rowWrapper, question['description']);
          add_link_clicks(rowWrapper, question['link_clicks']);
          if (question['type'] === 'text') {
            add_word_cloud(rowWrapper, question['word_cloud'])
          } else {
            add_pie_chart(rowWrapper, question['pie_chart_labels'], question['pie_chart_data']);
          }
          parent.appendChild(rowWrapper);
        }
      })
    }

    $(function () { 
      render_responses();
    });

  </script>
{% endblock %}