{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="bar-chart-2"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'groups' %}">
    <span data-feather="bar-chart-2"></span>
    Groups <span class="sr-only">(current)</span>
  </a>
</li>
{% endblock %}
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Task Overview: {{task_title}}</h1>
</div>

<!-- Info Cards -->
<div class="card-deck justify-content-center m-5 rounded">
  <div class="col-auto">
    <div class="card text-center border ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Total Respondents</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_total_respondents}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card text-center border ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Respondents Completed</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_respondents_completed}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card text-center border ml-5 mr-5 h-100" style="width: 18rem;">
      <div class="card-header"><b>Due Date</b></div>
      <div class="card-body">
        <p class="card-text text-primary" style="font-size: 300%;"><b>{{task_due_date}}</b></p>
      </div>
    </div>
  </div>
</div>

<!-- Responses Section -->
<div class="m-5 rounded align-right" align="right">
  <button id="toggleAccordions-show" class="btn btn-secondary" type="button" data-toggle="collapse">Expand all</button>
  <button id="toggleAccordions-hide" class="btn btn-secondary" type="button" data-toggle="collapse">Collapse all</button>
</div>

<div class="border m-5 rounded bg-light" id="responses-container">
<div id="accordion" class="accordion">
  
    <div id="{{ something }}" class="card">
      <div class="card-header clickable-header" id="{{ something }}_heading" data-toggle="collapse" data-target="#{{ something }}_collapse" aria-expanded="false" aria-controls="{{ something }}_collapse">
          <button class="btn btn-link collapsed">qwertyu</button>
      </div>

      <div id="{{ something }}_collapse" class="collapse" aria-labelledby="{{ something }}_heading">
        <div class="card-body p-5" align="center">
          
            <canvas id="{{ something }}_canvas"></canvas>
          
        </div>
      </div>
    </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
$(function() {
    $('#toggleAccordions-show').on('click', function(e) {
        $('#accordion .collapse').collapse('show');
    })
    $('#toggleAccordions-hide').on('click', function(e) {
        $('#accordion .collapse').collapse('hide');
    })
});
</script>

{% for something in something%}
{% if something == 'text'%}
<script>
  var ctx = document.getElementById("{{something}}");

  img = document.createElement('img');
  img.src = {{ something }};
  img.style.width = "25%";
  img.style.height = "auto";
  ctx.appendChild(img);
</script>

{% else %}
<script>
  var ctx = document.getElementById("{{something}}").getContext('2d');
  new Chart (ctx, {
    type: 'pie',
    data: {
      datasets: [{
        data: {{something}},
        backgroundColor: [
          'red', 'blue', 'pink', 'orange', 'green'
        ]
      }],
      labels: {{ something }},
    },
    options: {
      legend: {
        display: true,
        position: 'bottom',
        align: 'center'
      }
    }
  });
</script>
{% endif %}
{% endfor %}
{% endblock %}
