{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'respondent_progress' %}">
    <span data-feather="bar-chart"></span>
    Progress
  </a>
</li>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Leaderboard</h1>
</div>
<div class="btn-toolbar pt-3 mb-4" role="group" id="button-container">
  <button class="btn btn-primary mr-2 mb-2 rounded" onclick="render({{ overall_leaderboard | safe }}, this)">Overall</button>
  {% for gr in groups %}
    <button class="btn btn-light mr-2 mb-2 rounded" onclick="render({{ gr.leaderboard | safe }}, this)">{{ gr }}</button>
  {% endfor %}
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover" id="leaderboard">
    <thead class="thead">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th><span style="border-bottom: 1px dotted black;" data-toggle="tooltip" data-placement="right" title="This is a simple average of all your quantifiable responses. Responses to Likert Scales are given a value 1-5, and Traffic Lights a value between 1-3.">Score</span></th>
    </tr>
    </thead>
    <tbody id='table-body'>
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script src ={% static 'js/respondent/leaderboard.js' %}></script>
<script type="text/javascript">
$(function () {
    render_leaderboard({{ overall_leaderboard | safe }});
});
</script>
{% endblock %}