{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard 
  </a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item" >
    <a class="nav-link active" href="{% url 'respondent_progress' %}">
      <span data-feather="grid"></span>
      Progress <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %} 
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Progress <i data-feather="info" style="height: 36px" data-toggle="tooltip" data-placement="right" title="Your score is a simple average of all your quantifiable responses. Responses to Likert Scales are given a value 1-5, and Traffic Lights a value between 1-3."></i></h1>
</div>

<div>
  <div class="col" id="graph-container">
    {% if groups %}
      {% for gr in groups %}
      <div class="row border" style="margin:20px;borderRadius:20px">
        <canvas id="{{ gr.id }}" width="900" height="380">
        </canvas>
      </div>
      {% endfor %}
    {% else %}
      <p class="lead">There is no progress to show as you have no responses!</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{% for gr in groups %}
<script>
  var ctx = document.getElementById("{{ gr.id }}").getContext('2d');
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ gr.labels | safe }},
      datasets: {{ gr.scores | safe }}
    },
    options: {
      title: {
        display: true,
        text: '{{ gr.title }}'
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Score'
          },
          ticks: {
            min: 0,
            max: 5
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Time'
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
{% endfor %}
{% endblock %}

