{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'dashboard' %}" style="color: #aaaaaa;">
    <span data-feather="home"></span>
    Dashboard 
  </a>
</li>
<li class="nav-item" >
  <a class="nav-link" href="{% url 'leaderboard' %}" style="color: #aaaaaa;">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item" >
    <a class="nav-link active" href="{% url 'respondent_progress' %}">
      <span data-feather="bar-chart"></span>
      Progress <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %} 
        
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Progress <i data-feather="info" style="height: 36px" data-toggle="tooltip" data-placement="right" title="Your score is a simple average of all your quantifiable responses. Responses to Likert Scales are given a value 1-5, and Traffic Lights a value between 1-3."></i></h1>
</div>

<div>
  <div class="col">
    {% if group_graphs %}
      {% for graph in group_graphs %}
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
              {{ graph.title }}
              <input type="text" id="datepicker{{forloop.counter0}}" class="form-control col-xl-2" data-index="{{forloop.counter0}}">
          </div>
          <div class="card-body graph-container">
            <canvas id="{{ graph.id }}" width="900" height="380">
            </canvas>
            </canvas>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="lead">There is no progress to show as you have no responses!</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<script type="text/javascript">
var groupData = [
  {% for gr in group_graphs %}
    {
      id: '{{ gr.id }}',
      title: '{{ gr.title }}',
      dates: {{ gr.labels | safe }},
      scores: {{ gr.scores | safe }}
    }{% if not forloop.last %},{% endif %}
  {% endfor %}
];
</script>
<script src={% static 'js/daterange-chart.js' %}></script>
{% endblock %}
