{% extends 'base.html' %}

{% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'dashboard' %}">
    <span data-feather="home"></span>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'leaderboard' %}">
    <span data-feather="award"></span>
    Leaderboard
  </a>
</li>
<li class="nav-item" >
    <a class="nav-link" href="{% url 'respondent_progress' %}">
      <span data-feather="bar-chart-2"></span>
      Progress
    </a>
</li>
{% endblock %}


{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>{{ task.title }}</h1>
  <a class="btn btn-primary" href="{% url 'dashboard' %}">Cancel</a>
</div>

<form id="response_form" name="response_form" method="post">

  {% csrf_token %}

  <input type="hidden" name="clicked" id="clicked" value="">

  {% for question in questions %}

  {# Text Response #}
  {% if question.response_type == 3 %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}" onclick="addLinkClick('{{ question.id }}')"><i>{{ question.link }}</i></a>
              {% endif %}
              <input type="text" class="form-control" name="{{ question.id }}" placeholder="Response" value="" required>
          </label>
        </div>
      </div>

  {# Likert Resposnse #}
  {% elif question.response_type == 1 %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}" onclick="addLinkClick('{{ question.id }}')"><i>{{ question.link }}</i></a>
              {% endif %}
          </label>
        </div>
        <ul class='radio-set'>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="strong_disagree" required>
                  Strongly disagree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="disagree">
                  Disagree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="neutral">
                  Neutral
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="agree">
                  Agree
              </label>
          </li>
          <li>
              <label>
                  <input type="radio" name="{{ question.id }}" value="strong_agree">
                  Strongly agree
              </label>
          </li>
        </ul>
      </div>

  {# Traffic Light Resposnse #}
  {% elif question.response_type == 2 %}

      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="response{{ question.id }}">{{ question.description }}
              {% if question.link %}
                  <br><a class="text-primary" href="//{{ question.link }}" onclick="addLinkClick('{{ question.id }}')"><i>{{ question.link }}</i></a>
              {% endif %}
          </label>
        </div>
      </div>

    <div class="text-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" required>
        <label class="btn btn-outline-danger">
          <input type="radio" name="{{ question.id }}" value="red" required> <i data-feather="frown" style="width: 36px; height 36px"></i>
        </label>
        <label class="btn btn-outline-warning">
          <input type="radio" name="{{ question.id }}" value="yellow"> <i data-feather="meh" style="width: 36px; height 36px"></i>
        </label>
        <label class="btn btn-outline-success">
          <input type="radio" name="{{ question.id }}" value="green"> <i data-feather="smile" style="width: 36px; height 36px"></i>
        </label>
      </div>
    </div>
  
  {# Numerical Radio Button Response #}
  {% elif question.response_type == 4 %}

    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="response{{ question.id }}">{{ question.description }}
            {% if question.link %}
                <br><a class="text-primary" href="//{{ question.link }}" onclick="addLinkClick('{{ question.id }}')"><i>{{ question.link }}</i></a>
            {% endif %}
        </label>
      </div>
      <ul class='radio-set'>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="1" required>
                1
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="2">
                2
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="3">
                3
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="4">
                4
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="{{ question.id }}" value="5">
                5
            </label>
        </li>
      </ul>
    </div>

  {% else %}
    <p class="lead">Invalid response type detected!</p>
  {% endif %}

  <hr class="mb-4">

  {% endfor %}

  <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="formsubmit()">Submit</button>

</form>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
function formsubmit() {
    setClicked();
    return false;
}

var links = [];

function addLinkClick(qid) {
    links.push(qid);
}

function setClicked() {
    document.response_form.clicked.value = links;
}
</script>

{% endblock %}