<form method="post" id="post-form">
  {% csrf_token %}
  <input type="hidden" value="new_group" name="request_type" />
  <div class="modal-header">
    <h4 class="modal-title">Create a new group</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <label for="name">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" id="new_group">Create Group</button>
  </div>
</form>